header {
  background-color: var(--seafoam);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav-link {
  color: var(--purple);
  font-weight: 900;
  font-size: 120%;
  text-shadow: 2px 2px 2px white;
}
