.list-img {
  width: 35vw;
  height: 35vw;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid var(--sand);
  filter: drop-shadow(5px 5px 5px rgb(62, 62, 62));
}

.adventure-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}

.adventure-card {
  max-width: 40vw;
  text-align: center;
}

.list-title {
  font-family: 'Reenie Beanie', cursive;
  font-size: 150%;
  text-transform: uppercase;
  margin: 5px;
  text-shadow: 2px 2px 2px rgb(62, 62, 62);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-link {
  text-decoration: none;
}
